.loading{
    position:fixed;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    padding-top:15%;
    padding-left:44%;
    background-image:src('ajax-loader.gif');
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
  }
  
  .fa{
      cursor: pointer;
  }
  .btn{
      cursor: pointer;
  }

  .mat-card {
    background: #3f51b5;
}